{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


<!-- В блок контент весь твій хтмл для сторінки -->
{% block content %}
    <h2>Hello, my lord! Welcome to the Home Page!</h2>
    <p>This is where the magic happens.</p>
    <!-- Add more content as needed -->
{% endblock %}
