{% extends 'base.html' %}

{% block title %}Timeline page{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}


<!-- В блок контент весь твій хтмл для сторінки -->
{% block content %}
<main>
    <article>
        <section class="itemFirst">
            <h1>Сезонна змінність</h1>
            <h3>Сезонна змінність є одним із важливих факторів, що впливають на ринок нерухомості. Вона проявляється у
                змінах цін та попиту на житло в різні пори року.</h3>
        </section>
        <section class="itemSecong">
            <h2>Конкретна дата</h2>
            <h4>Обиріть конкретну дату, щоб спостерігати сезонну змінність на ринку нерухомості країн Європи:</h4>
            <input id="heat-map-date" type="date" name="date">
            <button id="heat-map-button" class="btn btn-primary rounded-5 px-4 fw-semibold">
                Пошук <i class="bi bi-search"></i>
            </button>
            <p>Дата, введена користувачем: <strong>{{ date }}</strong></p>
            <div id="heat-map" style="height: 500px;"></div>
            <canvas id="top-cities"></canvas>
            <!-- <img src="{{ url_for('static', filename='img/diagram_3.png') }}" alt="diagram_3"> -->
        </section>
        <section class="itemThird">
            <h2>Порівняння</h2>
            <h4>Обиріть пункти, щоб отримати більш детальну інформацію:</h4>
            <section class="SearchOne">
                <select id="comparison-city" name="city">
                    <option value="">Місто</option>
                    <option value="Данія">Данія</option>
                    <option value="Ірландія">Ірландія</option>
                    <option value="Німеччина">Німеччина</option>
                    <option value="Португалія">Португалія</option>
                    <option value="Італія">Італія</option>
                    <option value="Іспанія">Іспанія</option>
                    <option value="Нідерланди">Нідерланди</option>
                    <option value="Франція">Франція</option>
                    <option value="Швеція">Швеція</option>
                </select>
                <select id="comparison-property-type" name="property_type">
                    <option value="">Тип нерухомості</option>
                    <option value="Будинок">Будинок</option>
                    <option value="Квартира">Квартира</option>
                    <option value="Кімната">Кімната</option>
                </select>
                <input id="comparison-date-start" type="date" name="date">
                <input id="comparison-date-end" type="date" name="date">
                <button class="btn btn-primary rounded-5 px-4 fw-semibold" id="comparison-button">Порівняти</button>
                <canvas id="comparison-chart"></canvas>
                <img id="tmp-comp-img" src="{{ url_for('static', filename='img/diagram_4.png') }}" alt="diagram_4">
            </section>
        </section>
        <section class="itemFourth">
            <h2>Графіки змін між датами</h2>
            <h4>Обиріть конкретну дату, щоб спостерігати сезонну змінність на ринку нерухомості країн Європи:</h4>
            <input type="date" name="date">
            <button class="btn btn-primary rounded-5 px-4 fw-semibold">
                Пошук <i class="bi bi-search"></i>
            </button>
            
            <img src="{{ url_for('static', filename='img/diagram_5.png') }}" alt="diagram_5">
        </section>
    </article>
</main>

{% endblock %}